*{
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
 h3{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #666;
}
main{
    width: 90vw;
    margin: auto; 
    padding-bottom: 5px;
}
img{
    width: 100%;
}

main div article{
    margin-bottom:  35px;
    margin-left: 5px ;
    margin-right: 5px ;
    background-color: #FFFFFF;
    transition: all .25s ease-in;
    border-radius: 5px;
    
}
article img{
    border-radius: 5px;
}
main article div {
    border-top: solid #ebebeb 1px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
main article div p {
    margin-top: 0.5em;
}
/* icon track */
main article i {
    border-radius: 50%;
    border: solid #39b54a 1px;
    color: #39b54a;
    
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    left: 80%;
    top: -20%;
}
/* precio */
.precio{
    width: 30%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
/* descuentos */
.descuentos{
    text-align: left;
    width: 70%;
    font-size: 1em;
    color: #39b54a;
    font-family: 'Roboto', sans-serif;
}
/* descripcion */
.descripcion{
    font-size: 0px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    visibility: hidden;
    transition: all .2s;
}
main article:hover .descripcion{
    font-size: 16px;
    visibility: visible;
}

main article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}


@media (min-width:769px) {
    h3{
        font-size: 1.5em;
    }
 
    .precio{
        font-size: 1.125em;
    }
    .descuentos{
        font-size: 1em;
    }
    main article{
        max-width: 286px;
    }
}
@media (min-width:986px) {
    main article{
        max-width: 22%;
    }
    .precio{
        width: 50%;
    }
    .descuentos{
        width: 50%;
    }
}
